<div class="container">
    <div class="section-title">
      <h2>Contactanos</h2>
      <p>Direccion</p>
    </div>

    <iframe 
      width="520" 
      height="400" 
      frameborder="0" 
      scrolling="no" 
      marginheight="0" 
      marginwidth="0" 
      id="gmap_canvas" 
      src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Educanet,%20Calle%2016%20de%20Julio%20Nro.%20221,%20Cochabamba%20Cochabamba+(Educanet)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe> 
 
    
    <script type='text/javascript'
      src='https://embedmaps.com/google-maps-authorization/script.js?id=fe657854cd80787f31ca42a37a6a520b8d7a40b9'>
    </script>
</div>
