<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>
            <img src="../../../assets/img/navBarBrand.png" alt="">
          </h3>
          <p>
            <i class="fas fa-map-pin"></i> Edificio Merida #221, calle 16 de julio entre 
             Sucre y Bolívar. 
             <br>
            <i class="fas fa-mobile-alt"></i> +591 79720607 <br>       
            <i class="far fa-envelope"></i> educanetbolivia@gmail.com
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
            <ul>
              <li><i class="fas fa-chevron-right"></i> <a class="nav-link" routerLink="">Home</a></li>
              <li><i class="fas fa-chevron-right"></i> <a class="nav-link" href="#nosotros">Nosotros</a></li>
              <li><i class="fas fa-chevron-right"></i> <a class="nav-link" routerLink="/servicios">Servicios</a></li>
              <li><i class="fas fa-chevron-right"></i>  <a class="nav-link" routerLink="/membresias">Membresias</a></li>
              <li><i class="fas fa-chevron-right"></i> <a class="nav-link" href="#contactanos">Contáctanos</a></li>
            </ul>   
        </div>

        
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <div>
            <iframe 
              width="520" 
              height="400" 
              frameborder="0" 
              scrolling="no" 
              marginheight="0" 
              marginwidth="0" 
              id="gmap_canvas" 
              src="https://maps.google.com/maps?width=320&amp;height=200&amp;hl=en&amp;q=Educanet,%20Calle%2016%20de%20Julio%20Nro.%20221,%20Cochabamba%20Cochabamba+(Educanet)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            </iframe>  
          </div> 
        </div>
      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">
    <div class="mr-md-auto text-center text-md-left">
      <div class="credits">
        <p>©2021 EDUCAnet, todos los derechos reservados.</p>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="http://bit.ly/EDUCAnet-Twitter" target="_blank"><i class="fab fa-twitter"></i></a> 
      <a href="http://bit.ly/EDUCAnetFaceboock" target="_blank"><i class="fab fa-facebook-f"></i></a> 
      <a href="http://bit.ly/EDUCAnet-Instagram" target="_blank"><i class="fab fa-instagram"></i></a> 
      <a href="http://bit.ly/EDUCAnetYoutube"  target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="http://bit.ly/Whatsapp-EDUCAnet"  target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</footer>


