 <footer>
    <div class="det_servicios">
    <div class="log">
        <h1 class="titulo">  <img src="../../../assets/img/educanet-coaching-B-N3.png" alt="logo educanet"></h1>   
        <p>Edificio Merida #221 <br>
          Av. Sucre y Bolivar <br></p>
      </div>
    <div>
        <h1 class="titulo">Contactos</h1>
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="info-lug">
                <p>
                  <strong><i class="fas fa-mobile-alt"></i></strong> +591 79720607<br>
                  <strong><i class="far fa-envelope"></i></strong> educanetbolivia@gmail.com
                  <br>
                </p>
              
              </div>
            </div>
          </div>
        </div>
    </div>
    <div>
        <h1 class="titulo">Redes</h1>
        <div class="container d-md-flex py-4">
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="http://bit.ly/EDUCAnet-Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="http://bit.ly/EDUCAnetFaceboock" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="http://bit.ly/EDUCAnet-Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="http://bit.ly/EDUCAnetYoutube"  target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="http://bit.ly/Whatsapp-EDUCAnet"  target="_blank"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>
    </div>
  
  </div>
 </footer> 
 

