<section id="about" class="about">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 order-1 order-lg-2" 
                style=" text-align: center; padding:0;" >
          <img src="../../../assets/img/58.png" class="img-fluid" alt="" data-aos="zoom-in-left" data-aos-delay="150">
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            style="text-align:inherit;" data-aos="zoom-in-right" data-aos-delay="150">
            <h3>Requisitos de inscripción.</h3>
           
            <ul >
                <li>
                    <i class="far fa-check-square"></i> Documentos de identidad. <br>
                    <span>18+.</span>
                </li>
                <li>
                    <i class="far fa-check-square"></i> Diploma de bachiller. <br>
                    <span>Documento similar.</span>
                </li>
                <li>
                    <i class="far fa-check-square"></i> Certificado de calificaciones. <br>
                    <span>Solo para estudiantes con excelencia académica.</span>
                </li>
                <li>
                    <i class="far fa-check-square"></i> Enviar tus datos a tu AE.
                </li>

            </ul>   
        </div>
      </div>

    </div>
  </section>
