<main id="main">
  
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">

      <p>Todos los precios son variables de acuerdo a las promociones de temporada.  
        para aprovechar al máximo de los beneficios. <br> 
        Comuníquese con nosotros.
        </p>

    </div>
  </div>

  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="box">
            <h3>Membresía A</h3>
            <p class="anual-semestral">Anual y semestral / + iva.</p>
            <h4>3349Bs<span>Anual</span>
              
              <span class="span-div"> /</span>
              
              2549Bs<span>Semestral</span></h4>
            <h4></h4>

            <p>Incluye:</p>
            

            <ul>
              <li> <i class="far fa-check-circle"></i>GUÍA GPS-PIBM con Método finlandés.</li>
              <li> <i class="far fa-check-circle"></i>Material práctico - Material virtual. </li>
              <li> <i class="far fa-check-circle"></i>Banco de preguntas - Exámenes simulacro.</li>
              <li> <i class="far fa-check-circle"></i>Orientación vocacional - Apoyo psicológico.</li>
              <li> <i class="far fa-check-circle"></i>Libros (según la carrera). </li>
              <li> <i class="far fa-check-circle"></i>Clases online + Mentorías personalizadas.</li>
            </ul>

            <p>Ingreso total a:</p> 

            <ul>
              <li> <i class="far fa-check-circle"></i>Talleres neuropsicoeducativos + certificación.</li>
              <li> <i class="far fa-check-circle"></i>Talleres neuropsicosociales + certificación.</li>
            </ul>

            <div class="btn-wrap">
              <a routerLink="/compraPlan" class="btn-buy">Comprar</a>
            </div>
          </div>
        </div>

       

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Membresía B</h3>
            <p class="anual-semestral">Trimestral + iva.</p>
            <h4>1349 Bs<span>Trimestral. </span></h4>

            <p>Incluye:</p>

            <ul>
              <li> <i class="far fa-check-circle"></i>GUÍA GPS-PIBM con Método finlandés.</li>
              <li> <i class="far fa-check-circle"></i>Material práctico - Material virtual. </li>
              <li> <i class="far fa-check-circle"></i>Banco de preguntas - Exámenes simulacro.</li>
              <li> <i class="far fa-check-circle"></i>Orientación vocacional - Apoyo psicológico.</li>
              <li class="na"> <i class="far fa-check-circle na"></i>Libros (según la carrera). </li>
              <li> <i class="far fa-check-circle"></i>Clases online. </li>
            </ul>

            <p>Ingreso a 5:</p> 

            <ul>
              <li> <i class="far fa-check-circle"></i>Talleres neuropsicoeducativos + certificación.</li>
              <li> <i class="far fa-check-circle"></i>Talleres neuropsicosociales + certificación.</li>
            </ul>

            <div class="btn-wrap">
              <a routerLink="/compraPlan" class="btn-buy">Comprar</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Membresía C</h3>
            <p class="anual-semestral"> .</p>
            <h4>449 Bs<span>+ iva.</span></h4>

            <p>Incluye:</p>

            <ul>
              <li> <i class="far fa-check-circle"></i>GUÍA GPS-PIBM con Método finlandés.</li>
              <li> <i class="far fa-check-circle"></i>Material práctico - Material virtual. </li>
              <li> <i class="far fa-check-circle"></i>Banco de preguntas - Exámenes simulacro.</li>
              <li class="na"> <i class="far fa-check-circle na"></i>Orientación vocacional - Apoyo psicológico.</li>
              <li class="na"> <i class="far fa-check-circle na"></i>Libros (según la carrera). </li>
              <li> <i class="far fa-check-circle"></i>Clases online. </li>
            </ul>

            <p>Ingreso a 1:</p> 

            <ul>
              <li> <i class="far fa-check-circle"></i>Taller neuropsicoeducativo. </li>
              <li> <i class="far fa-check-circle"></i>Taller neuropsicosocial. </li>
            </ul>

            <div class="btn-wrap">
              <a routerLink="/compraPlan" class="btn-buy">Comprar</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->

</main><!-- End #main -->