<section id="why-us" class="why-us">
  <div class="container" >

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content animate__animated animate__bounceInLeft">
          <h3>¿Por qué elegirnos?</h3>
          <p>
            Contamos con más de 500 cursos y especializaciones online para estar al día con las últimas competencias laborales que exige el mercado.<br>
            Además, ¡tenemos lanzamientos todas las semanas!
          </p>

        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch animate__animated animate__bounceInLeft">
              <div class="icon-box mt-4 mt-xl-0">
                  <i class="far fa-file-alt"></i>
                <h4>Mentorías personalizadas.</h4>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch animate__animated animate__bounceInLeft">
              <div class="icon-box mt-4 mt-xl-0">
                  <i class="fas fa-cubes"></i>
                <h4>Cursos nuevos todas las semanas.</h4>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch animate__animated animate__bounceInLeft">
              <div class="icon-box mt-4 mt-xl-0">
                  <i class="fas fa-drafting-compass"></i>
                <h4>Competencias laborales.</h4>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->