
<section id="counts" class="counts section-bg" data-aos="zoom-in">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-4 col-6 text-center" >
          <span data-toggle="counter-up">1232</span>
          <p>Estudiantes</p>
        </div>

        <div class="col-lg-4 col-6 text-center" >
          <span data-toggle="counter-up">+500</span>
          <p>Cursos</p>
        </div>

        <div class="col-lg-4 col-6 text-center">
          <span data-toggle="counter-up">+500</span>
          <p>Membresias</p>
        </div>

      </div>

    </div>
  </section>
