<section id="courses" class="courses">
    <div class="container">

        <div class="section-title">
            <h2>  
                <img class="titulo-img" src="../../../assets/img/educanet-preuniversitarios-B-N.png" alt="educanet">             
                <span>Campos de estudio y compresión. </span> 
            </h2>

            <div style="text-align: center;">
                <label >
                    Campos de estudio y compresión.
                </label>
            </div>   
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                <img class="ciencias-img" src="../../../assets/img/cienciasPuras.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4>Ciencias puras.</h4>
                    </div>
                    
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Aritmética.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Álgebra.
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Geometría.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Trigonometría.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Física.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Química.
                        </li>
                    </ul>
                </div>
                </div>
            </div> 

            <!--
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="course-item">
                    <img class="ciencias-img" src="../../../assets/img/cienciasPuras.jpg" class="img-fluid" alt="...">
                    <div class="course-content">
                        
                    </div>
                </div>                    
            </div> -->

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="course-item">
                <img class="ciencias-img" src="../../../assets/img/cienciasSalud.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4>Ciencias de la salud.</h4>
                    </div>

                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Morfología.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Biología celular y molecúlar.
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Anatomía humana.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Nutrición.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Educación para la salud.
                        </li>
                    </ul>
                </div>
                </div>
            </div> 

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="course-item">
                <img class="ciencias-img" src="../../../assets/img/cienciasSociales.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4>Ciencias humanas y sociales.</h4>
                    </div>

                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Cívica.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Historia nacional y universal.
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Geografía nacional y universal.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Lenguaje y redacción.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Dibujo.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Desarrollo del pensamiento.
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Desarrollo emocional y social.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Estrategias y apredizaje.
                        </li>
                    </ul>
                </div>
                </div>
            </div> 
        </div>

    </div>