<div class="container">

    <main id="main"  >

        <section id="about" class="about animated ">
          <div class="container animate__animated animate__bounceIn" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Nosotros</h2>
              <p>Nosotros</p>
            </div>
    
            <div class="row">
              <div class="col-lg-6 order-1 order-lg-2">
                <img src="../../../assets/img/08MARZO6.png" class="img-fluid" alt="educanet nosotros" >
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Institucion academica privada</h3>
                <p class="font-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="far fa-check-circle"></i> Metodologia filandes.</li>
                  <li><i class="far fa-check-circle"></i> Cursos bimodal.</li>
                  <li><i class="far fa-check-circle"></i> Mentoria Personalizada</li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <a href="about.html" class="learn-more-btn">Learn More</a>
              </div>
            </div>
    
          </div>
        </section>
    </main>
    
</div>