img{
    width:150px;
}

.navbar-brand{
    font-family: 'Chango', cursive;
    font-weight:900;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
}

/*---------------------------------------------------------------------------
                Color Menu desplegable
-----------------------------------------------------------------------------*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav 
.nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light 
.navbar-nav .show>.nav-link {
    color: rgb(13, 13, 163);
}

.mynavbar{
    background: rgba(0, 46, 250, 0.6); /*rgba(192,192,192,0.7);*/
    z-index: 20; 
}

.nav-item a{
    color: white;
    font-weight: bolder;
}
.nav-item a:hover{
    color: rgb(13, 13, 163);
    font-weight: bolder;
}


/*-----------------------------------------------------------------------------------------
                        Menu i toggler 
-------------------------------------------------------------------------------------------*/

.navbar-toggler{
    border-color: white;
}


@media (max-width: 500px){
    nav.mynavbar.navbar.navbar-expand-lg.navbar-light.fixed-top {
        background: blue;
        opacity: 0.7;
    }
    .nav-item a:hover{
        color: #ffffff;
        font-weight: bolder;
    }
}




