img{
   padding: 0;
   margin: 0;
   width: 500px;
}

.features {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  
  .features .icon-box {
    padding-left: 15px;
  }
  
  .features .icon-box h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0 10px 50px;
  }
  
  .features .icon-box i {
    font-size: 30px;
    float: left;
    color: blue;
  }
  
  .features .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
  }
  
  .features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }