/* You can add global styles to this file, and also import other style files */

/*Animaciones*/

.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes bounceIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bounceIn{
    animation-name: bounceIn;
}

html {
    scroll-behavior: smooth;
  }