<main>
    <div class="container" data-aos="zoom-in">

        <div class="section-title" data-aos="zoom-in">
            <h2>  
                <img src="../../../assets//img/LOGO-METODO-FINLANDES.png" alt="educanet">             
                <span>Oferta de valor y servicios académicos. </span> 
            </h2>

            <div style="text-align: center;">
                <label >
                    Oferta de valor y servicios académicos. 
                </label>
            </div>   
        </div>


        <div class="news-cards" data-aos="zoom-in">

            <!---------------------------- S A L U D ----------------------------------------->
            <div class="datos-cursos" >
              
                <!----------M E D I C I N A----------------->

                <div class="lett">
                    <h3>MEDICINA</h3>
    
                    <p>
                        INGRESO ANUAL Y SEMESTRAL
                    </p>
                </div>
                
                <div class="list-color">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Medicina. 
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Fisioterapia. <br>
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Nutrición. <br>
                        </li>
                    </ul>
                </div>

                <!--------O D O N T O L O G I A -------------->
                <div class="lett">
                    <h3>ODONTOLOGÍA</h3>

                    <p>
                        INGRESO ANUAL
                    </p> 

                </div>

                <div class="list-color">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Odontología.
                        </li>
                    </ul>
                </div>

                <!-----------B I O Q U I M I C A---------------->
                <div class="lett">
                    <h3>BIOQUÍMICA Y FARMACIA</h3>
                    <p>
                        INGRESO ANUAL
                    </p> 
                </div>
                <div class="list-color">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Bioquímica y farmacia.
                        </li>
                    </ul>
                </div>

                <!-----------E N F E R M E R I A ---------------->
                <div class="lett">
                    <h3>ENFERMERÍA</h3>
                    <p>
                        INGRESO ANUAL
                    </p> 
                </div>

                <div class="list-color">
                    <ul style="padding-bottom: 95px;">
                        <li>
                            <i class="far fa-check-circle"></i> Enfermería.
                        </li>
                    </ul>
                </div>
                    
            </div>

            <!----------------------------S O C I A L E S --------------------------------->
            <div class="datos-cursos">
              <!--<img src="img/news2.jpg" alt="card1" />-->
               

                <div class="lett">
                    <h3>HUMANIDADES</h3>

                    <p>
                        INGRESO SEMESTRAL
                    </p>
                </div>
            
                <div class="list-color">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Psicología.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Ciencias de la educación.<br>
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Trabajo social.<br>
                        </li>
                        
                        <li>
                            <i class="far fa-check-circle"></i> Lingüística.<br>
                        </li>

                        <li>
                            <i class="far fa-check-circle"></i> Cs. Act. Física y deporte.<br>
                        </li>

                        <li>
                            <i class="far fa-check-circle"></i> Licenciatura en música.<br>
                        </li>
                        
                        <li>
                            <i class="far fa-check-circle"></i> Comunicación social.<br>
                        </li>
                    </ul>
                </div>

                <div class="lett">
                    <h3>ECONOMÍA</h3>

                    <p>
                        INGRESO SEMESTRAL
                    </p>
                </div>

                <div class="list-color">
                    <ul  style="padding-bottom: 70px;">
                        <li>
                            <i class="far fa-check-circle"></i> Contaduría publica.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Administración de empresas.<br>
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Economía.<br>
                        </li>
                        
                        <li>
                            <i class="far fa-check-circle"></i> Ingeniería Comercial. <br>
                        </li>

                        <li>
                            <i class="far fa-check-circle"></i> Ingeniería Financiera.<br>
                        </li>

                    </ul>
                </div>
               
            </div>

            <!-----------------A R Q U I T E C T U R A / D E R E C H O -------------------------->
            <div class="datos-cursos">
              <!--<img src="img/news3.jpg" alt="card1" />-->

                <div class="lett">
                    <h3>ARQUITECTURA</h3>

                    <p>
                        INGRESO ANUAL Y SEMESTRAL
                    </p>
                </div>

                <div class="list-color">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> ARQUITECTURA.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> DISEÑO DE INTERIORES Y DEL MOBILIARIO.<br>
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> TÉCNICO UNIVERSITARIO SUPERIOR EN CONSTRUCCIONES.<br>
                        </li>
                        
                        <li>
                            <i class="far fa-check-circle"></i> Planificación del territorio y del medio ambiente. <br>
                        </li>

                        <li>
                            <i class="far fa-check-circle"></i> Turismo.<br>
                        </li>
                        
                        <li>
                            <i class="far fa-check-circle"></i> Diseño gráfico y comunicación visual.<br>
                        </li>

                    </ul>
                </div>
                
                <div class="lett">
                    <h3>DERECHO</h3>

                    <p>
                        INGRESO ANUAL
                    </p>
                </div>

                <div class="list-color">
                    <ul style="padding-bottom: 92px;">
                        <li>
                            <i class="far fa-check-circle"></i> Ciencias juridicas.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Ciencias politicas,<br>
                        </li>
                    </ul>
                </div>
                
            </div>

            <!--------------------------T E C N O L O G I A  -------------------------->

            <div class="datos-cursos">
              <!--<img src="img/news4.jpg" alt="card1" />-->
              <div class="lett">
                <h3>TECNOLOGÍA</h3>

                <p>
                    INGRESO SEMESTRAL
                </p>
            </div>
        
            <div class="list-color">
                <ul>
                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería civil.
                    </li>
                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería de alimentos.
                    </li>
                    <li>
                            <i class="far fa-check-circle"></i> Ingeniería de sistemas.
                    </li>
                    
                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería Eléctrica.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería Electrónica.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería Electromecánica.
                    </li>
                    
                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería Industrial.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería En informática.
                    </li>
                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería Matemática.
                    </li>
                    <li>
                        <i class="far fa-check-circle"></i> Ingeniería Mecánica.
                    </li>
                    <li>
                            <i class="far fa-check-circle"></i> Ingeniería Química.
                    </li>
                </ul>

              <p class="ciencias"> Área de Ciencias</p> 

                <ul>   
                    <li>
                        <i class="far fa-check-circle"></i> Licenciatura en biología.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Licenciatura En didáctica de la física.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Licenciatura En didáctica de la matemática.
                    </li>
                    
                    <li>
                        <i class="far fa-check-circle"></i> Licenciatura En Física.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Licenciatura En matemática.
                    </li>

                    <li>
                        <i class="far fa-check-circle"></i> Licenciatura En Química.
                    </li>

                </ul>
            </div>
                
            </div>
        </div>

        <div class="news-cards2" data-aos="zoom-in">
            <div class="datos-cursos">
                <div class="lett">
                    <h3>ESCUELAS SUPERIORES DE FORMACIÓN DE MAESTRAS Y MAESTROS</h3>
    
                    <p>
                        INGRESO ANUAL 
                    </p>
                </div>
                
                <div class="list-color">
                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Educación inicial.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Ciencias sociales.
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Ciencias naturales.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Artes plásticas y visuales.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Educación musical.
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Cosmovisión psicología y filosofía.
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Valores espirituales y religiosos.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="datos-cursos">
                <div class="lett">
                    <h3>INSTITUCIONES POLICIALES Y MILITARES</h3>
    
                    <p>
                        INGRESO ANUAL 
                    </p>
                </div>

                <div class="list-color">
                    
                    <p class="ciencias"> Unidades policiales</p> 

                    <ul>
                        <li>
                            <i class="far fa-check-circle"></i> Anapol
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> Esbapol
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> Esbapolmus
                        </li>
                    </ul>

                    <p class="ciencias"> Unidades militares</p> 
      
                    <ul> 
                        <li>
                            <i class="far fa-check-circle"></i> COLMIL
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> EMSSE
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> EMTE
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> EMME
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> COLMILAV
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> POLMILAE
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> EMMFAB
                        </li>
                        <li>
                            <i class="far fa-check-circle"></i> ESA
                        </li>
                        <li>
                                <i class="far fa-check-circle"></i> ESNAMIL
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</main>
